AppOwnerReassignment_20211104183520/Microsoft.Flow/flows/75b02632-489b-45a8-ac10-e1629ea41088/definition.json
{"name":"be811538-3fbf-45e6-82aa-7458d8ab5c03","id":"/providers/Microsoft.Flow/flows/be811538-3fbf-45e6-82aa-7458d8ab5c03","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"App Owners List","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"3f7dae00-15a8-4a97-aa25-b1eae22fcf65","type":"User","tenantId":"26d535c6-5cca-4e72-84f1-de6bbf788e0e"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2021-08-21T14:44:40.7386298Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Day","interval":1,"startTime":"2021-08-20T14:00:00.000Z"},"type":"Recurrence"}},"actions":{"init_array_flow":{"runAfter":{"Init_Array_messageBody":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"array_flow","type":"array"}]}},"Init_Array_messageBody":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"array_messageBody","type":"array"}]}},"Apply_to_each":{"foreach":"@outputs('List_Environments_as_Admin')?['body/value']","actions":{"Compose_-_Set_Environment":{"runAfter":{},"type":"Compose","inputs":"@items('Apply_to_each')?['properties/displayName']"},"Get_Apps_from_Environments":{"runAfter":{"Compose_-_Set_Environment":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_powerappsforadmins","connectionName":"shared_powerappsforadmins","operationId":"Get-AdminApps"},"parameters":{"environment":"@items('Apply_to_each')?['name']","api-version":"2016-11-01","$top":500},"authentication":"@parameters('$authentication')"}},"Lookup_owner_for_each_app,_then_set_owner_to_admin_if_owner_is_disabled":{"foreach":"@outputs('Get_Apps_from_Environments')?['body/value']","actions":{"Get_user_profile_(V2)_for_Owner":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users","connectionName":"shared_office365users","operationId":"UserProfile_V2"},"parameters":{"id":"@items('Lookup_owner_for_each_app,_then_set_owner_to_admin_if_owner_is_disabled')?['properties/owner/id']"},"authentication":"@parameters('$authentication')"}},"Condition_-_Check_if_Owner_Account_is_Disabled":{"actions":{"Set_App_Owner":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_powerappsforadmins","connectionName":"shared_powerappsforadmins","operationId":"Set-AdminAppOwner"},"parameters":{"environment":"@items('Lookup_owner_for_each_app,_then_set_owner_to_admin_if_owner_is_disabled')?['properties/environment/name']","app":"@items('Lookup_owner_for_each_app,_then_set_owner_to_admin_if_owner_is_disabled')?['name']","api-version":"2016-11-01","Content-Type":" application/json","body/roleForOldAppOwner":"CanView","body/newAppOwner":"3f7dae00-15a8-4a97-aa25-b1eae22fcf65"},"authentication":"@parameters('$authentication')"},"description":"TODO: init Environment Admin variable above, grab object ID. insert below as owner"},"Apply_to_each_2":{"foreach":"@items('Lookup_owner_for_each_app,_then_set_owner_to_admin_if_owner_is_disabled')","actions":{"Apply_to_each_3":{"foreach":"@items('Apply_to_each_2')","actions":{"Append_to_array_variable":{"runAfter":{},"type":"AppendToArrayVariable","inputs":{"name":"array_messageBody","value":{"Environment":"@items('Lookup_owner_for_each_app,_then_set_owner_to_admin_if_owner_is_disabled')?['properties/environment/name']","Power App Name":"@items('Lookup_owner_for_each_app,_then_set_owner_to_admin_if_owner_is_disabled')?['name']","Created By":"@items('Lookup_owner_for_each_app,_then_set_owner_to_admin_if_owner_is_disabled')?['properties/createdBy/displayName']","App Id":"@items('Apply_to_each_3')?['id']","Old App Owner":"@variables('oldOwnerName')","New App Owner":"@items('Apply_to_each_3')?['properties/owner/displayName']"}}}},"runAfter":{},"type":"Foreach"}},"runAfter":{"Set_App_Owner":["Succeeded"]},"type":"Foreach"}},"runAfter":{"Set_oldOwner_to_Old_Owner_Name":["Succeeded"]},"expression":{"equals":["",false]},"type":"If"},"Set_oldOwner_to_Old_Owner_Name":{"runAfter":{"Get_user_profile_(V2)_for_Owner":["Succeeded"]},"type":"SetVariable","inputs":{"name":"oldOwnerName","value":"@items('Lookup_owner_for_each_app,_then_set_owner_to_admin_if_owner_is_disabled')?['properties/owner/displayName']"}}},"runAfter":{"Get_Apps_from_Environments":["Succeeded"]},"type":"Foreach"}},"runAfter":{"List_Environments_as_Admin":["Succeeded"]},"type":"Foreach"},"List_Environments_as_Admin":{"runAfter":{"Initialize_variable":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_powerplatformforadmins","connectionName":"shared_powerplatformforadmins","operationId":"Get-AdminEnvironment"},"parameters":{"api-version":"2018-10-01"},"authentication":"@parameters('$authentication')"}},"Initialize_variable":{"runAfter":{"init_array_flow":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"oldOwnerName","type":"string"}]}},"Create_HTML_table":{"runAfter":{"Apply_to_each":["Succeeded"]},"type":"Table","inputs":{"from":"@variables('array_messageBody')","format":"HTML"}},"Get_my_profile_(V2)":{"runAfter":{"Create_HTML_table":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users","connectionName":"shared_office365users","operationId":"MyProfile_V2"},"parameters":{"$select":"Mail"},"authentication":"@parameters('$authentication')"}},"Send_an_email_(V2)":{"runAfter":{"Get_my_profile_(V2)":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@outputs('Get_my_profile_(V2)')?['body/mail']","emailMessage/Subject":"Automatic Owner Update to Power App","emailMessage/Body":"<p>&lt;html&gt;<br>\n&lt;head&gt;<br>\n&lt;style&gt;<br>\ntable,td,tr{<br>\nborder: 1px solid black;<br>\n}<br>\n&lt;/style&gt;<br>\n&lt;/head&gt;<br>\n&lt;body&gt;<br>\n&lt;b&gt;An app with a disabled owner has been reassigned to the System Administrator as a new owner&lt;/b&gt;&lt;br/&gt;<br>\n<br>\n@{body('Create_HTML_table')}<br>\n&lt;/body&gt;<br>\n&lt;/html&gt;</p>"},"authentication":"@parameters('$authentication')"}},"Terminate":{"runAfter":{"Send_an_email_(V2)":["Succeeded"]},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}}},"connectionReferences":{"shared_powerappsforadmins":{"connectionName":"shared-powerappsfora-859bc3b2-432d-4c9a-aad3-4ffd-2116ca77","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_powerappsforadmins","tier":"NotSpecified"},"shared_office365users":{"connectionName":"shared-office365user-04d1d8eb-2b33-4fd8-b20c-e44a-89166ad7","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365users","tier":"NotSpecified"},"shared_powerplatformforadmins":{"connectionName":"shared-powerplatform-ca0372e3-ad1f-4cad-b2fb-c7f7-69f7d2ef","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_powerplatformforadmins","tier":"NotSpecified"},"shared_office365":{"connectionName":"be59d10b02f94f3f8e10705332becb75","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}